
.idea/*
config/db.properties
.settings
target/*
.classpath
/classes/
*.iml
/out/*

*.log
.metadata/*
.project
/frontend/node/*
/frontend/dist/*
/frontend/target/*
/backend/target/*
/backend/src/main/resources/public/*
/frontend/node_modules/*
/front-end-fund/node_modules/*



